<p id="notice"><%= notice %></p>

<p>
  <b>Branch:</b>
  <%= @atm.branch %>
</p>

<p>
  <b>Municipality:</b>
  <%= @atm.municipality_id %>
</p>

<p>
  <b>Street:</b>
  <%= @atm.street %>
</p>

<p>
  <b>District:</b>
  <%= @atm.district %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @atm.zipcode %>
</p>

<p>
  <b>Latitude:</b>
  <%= @atm.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @atm.longitude %>
</p>

<p>
  <b>Bank:</b>
  <%= @atm.bank_id %>
</p>


<%= link_to 'Edit', edit_atm_path(@atm), :class => 'btn' %>
<%= link_to 'Back', atms_path, :class => 'btn' %>
