<%= form_for [:admin, @atm] do |f| %>
  <% if @atm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@atm.errors.count, "error") %> prohibited this atm from being saved:</h2>

      <ul>
      <% @atm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :branch %>
    <%= f.text_field :branch %>
  </div>
  <div class="field">
    <%= f.label :municipality_id %>
    <%= f.number_field :municipality_id %>
  </div>
  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :district %>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :latitude %>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :bank_id %>
    <%= f.number_field :bank_id %>
  </div>
  <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
