<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @municipality.name %>
</p>

<p>
  <b>State:</b>
  <%= @municipality.state_id %>
</p>

<p>
  <b>Latitude:</b>
  <%= @municipality.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @municipality.longitude %>
</p>


<%= link_to 'Edit', edit_admin_municipality_path(@municipality), :class => 'btn' %>
<%= link_to 'Back', admin_municipalities_path, :class => 'btn' %>
