<h1>Listing reports</h1>

<table class="table table-bordered">
  <tr>
      <th>Atm</th>
      <th>Branch</th>
      <th>Municipality</th>
      <th>State</th>
      <th>Atm st</th>
      <th>Type</th>
      <th>Reported at</th>
      <th>Status</th>
      <th></th>
      <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= link_to report.atm.id,  admin_atm_path(report.atm) %></td>
    <td><%= report.atm.branch %></td>
    <td><%= report.atm.municipality.name %></td>
    <td><%= report.atm.municipality.state.name %></td>
    <td><%= report.atm.status %></td>
    <td><%= report.type_id %></td>
    <td><%= report.reported_at %></td>
    <td><%= report.status %></td>
    <td><%= link_to 'Edit', edit_admin_report_path(report), :class => 'btn btn-small' %></td>
    <td><%= link_to 'Destroy', [:admin, report], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_admin_report_path, :class => 'btn btn-primary' %>
