<p id="notice"><%= notice %></p>

<p>
  <b>Atm:</b>
  <%= @report.atm_id %>
</p>

<p>
  <b>Type:</b>
  <%= @report.type_id %>
</p>

<p>
  <b>Reported at:</b>
  <%= @report.reported_at %>
</p>

<p>
  <b>Status:</b>
  <%= @report.status %>
</p>


<%= link_to 'Edit', edit_admin_report_path(@report), :class => 'btn' %>
<%= link_to 'Back', admin_reports_path, :class => 'btn' %>
