<!DOCTYPE html>
<html>
<head>
  <title>Cajeros México</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-inverse">
	<div class="navbar-inner">
	    <div class="container">
		<a class="brand" href="#">Cajeros México Admin</a>
		<div class="nav-collapse">
		    <% if session[:user_id] %>
		    <ul class="nav">
			<li><%= link_to "Atms", admin_atms_path %></li>
			<li><%= link_to "Banks", admin_banks_path %></li>
			<li><%= link_to "Municipalities", admin_municipalities_path %></li>
			<li><%= link_to "States", admin_states_path  %></li>
			<li><%= link_to "Users", admin_users_path %></li>
			<li><%= link_to "Reports", admin_reports_path %></li>
			<li><%= link_to 'Logout', admin_logout_path, method: :delete %></li>
		    </ul>
		    <% end %>
		</div>
	    </div>
	</div>
    </div>

<div class="container">
    <div class="row">
	<div class="span12">
	    <!-- body content -->

	    <%= yield %>
	</div>
    </div>
</div>
</body>
</html>
